.master-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}

.page-title {
  font-size: 2.5em;
  font-weight: 700;
  text-align: center;
  margin: 0 0 .5em 0;
  padding: 0;
}

.page-sub-title {
  font-size: 1.5em;
  font-weight: 400;
  text-align: center;
  margin: 0 0 1.5em 0;
  padding: 0;
  width: 70%;
}

#python-fanboy {
  font-size: 1rem;
}

#github-follow {
  margin-top: 20px ;
}

.page-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  z-index: 100;
}