#bananas {
  width: 100vw;
  /* min-height: 100vh;
  max-height: 130vh; */
  position: relative;
  background-color: #052c46;
  padding-bottom: 7vh;
  overflow: hidden;
}

#title-bananas-container{
  width: 100%;
  margin: 7vh 0vw;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#title-bananas-container > a {
  color: #fcd703;
  text-shadow: 5px 5px 0px #04253b;
  font-size: 3rem;
  font-weight: 700;
  text-decoration: none;
  text-transform: uppercase;
}

#text-bananas-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5vh;
}

#monkey-section-wrapper{
  position: relative;
  width: 100%;
  height: 100%;
}

#monkey-talk{
  position: relative;
  width: 75%;
  margin: 10vh 0 0 5vw;
  padding: 20px;
  border: 4px solid #fcd703;
  background-color: #fcd70311;
  border-radius: 20px;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  box-shadow: 22px 22px #000000aa;
}

#monkey-talk > a {
  text-decoration: none;
  color: var(--text);
  font-size: 2em;
}

#monkey-talk-arrow{
  position: absolute;
  bottom: 60px;
  right: -30px;
  transform: rotate(-90deg);
  width: 0;
  height: 0;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-top: 20px solid #fcd703;
}

#monkey-container {
  position: absolute;
  top: 70%;
  right: clamp(-150px, -10vw, -50px);
  transform: translateY(-50%) rotate(-42deg);
}

#monkey-svg{
  width : clamp(120px, 20vw, 400px);
}