#frame-subwrapper{
  position : relative;
  width: 100%;
  height: 100%;
}

#frame-landscape{
  width: 100%;
  height: 100%;
}

#landscape-image-wrapper{
  position: absolute;
  top: 50.2%;
  left: 50.5%;
  transform: translate(-50%, -50%);
  width: 69%;
  height: 69%;
}

#landscape-image-wrapper > img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.frame-wrapper {
  object-fit: cover;
}

#frame-0 {
  grid-area: 1 / 1 / 3 / 3;
}

#frame-1 {
  grid-area: 1 / 3 / 3 / 4;
}

#frame-2 {
  grid-area: 3 / 1 / 4 / 2;
}

#frame-3 {
  grid-area: 3 / 2 / 4 / 3;
}

#frame-4 {
  grid-area: 3 / 3 / 4 / 4;
}