.greet-card {
  position: absolute;
  top: 50%;
  left: 20%;
  transform: translate(-20%, -50%);
  width: 60vw;
  height: 20vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  font-family: 'Josefin Sans', sans-serif;
  user-select: none;
  z-index: 9999;
}

#greet {
  font-size: 2.5rem;
  font-weight: 700;
  text-align: center;
  margin: 0 0 .5em 0;
  padding: 0;
  font-family: 'Futura Condensed Extra', sans-serif;
}

#coding-title {
  font-family: 'Josefin Sans', sans-serif;
}

.text-container {
  text-align: left;
  line-height: 2.5rem;
  width: 100%;
  max-width: 1000px;

}

.text-container > * {
  font-size: 2rem;
}

.get-started {
  perspective: 750px;
  transition: transform 0.5s ease, background-color 0.5s ease-in-out;
  margin-top: 2em;
  font-size: 1.8rem;
  animation : small-bounce 1s ease-in-out infinite alternate;
  text-align: left;
  width: fit-content;
  padding: 10px 5px;
}

#low-wrapper {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  max-width: 1000px;
}

.get-started:hover {
  transform: rotateY(20deg) scale(1.1);
}

.arrow {
  transition: all 0.3s ease;
  font-weight: 800;
}

.active {
  color: var(--main);
  background-color: var(--text);
}

#photo,
#code {
  padding: 5px;
  border-radius: 5px;
}

#tip-greet{
  font-size: 0.9rem;
  font-weight: 300;
  text-align: left;
  margin-top: .33em;
}

#low-wrapper {
  opacity: 0;
  transform: translateY(100%);
}

@keyframes small-bounce {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.02);
  }
}

@media screen and (max-width: 768px) {
  .greet-card {
    width: 80vw;
  }
  .get-started {
    width: 80vw;
  }
}