#hstw-container {
  width: 100vw;
  height: 70vh;
  background: rgb(31, 31, 31);
  background: linear-gradient(0deg, rgba(31, 31, 31, 1) 0%, rgba(0, 0, 0, 1) 20%, rgba(0, 0, 0, 1) 40%, rgba(0, 0, 0, 1) 60%, rgba(0, 0, 0, 1) 80%, rgba(31, 31, 31, 1) 100%);
}