#hstw-container {
  position: relative;
  width: 100vw;
  min-height: clamp(690px, 85vh, 750px);
  max-height: 110vh;
  background: linear-gradient(0deg, #052c46 0%, rgba(0, 0, 0, 1) 10%, rgba(0, 0, 0, 1) 40%, rgba(0, 0, 0, 1) 60%, rgba(0, 0, 0, 1) 90%, rgba(31, 31, 31, 1) 100%);
  z-index: 5;
  transition: background-color 0.5s ease-in-out, color 0.5s ease-in-out;
  padding : 5vh 0;
}

#stars {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: clamp(500px, 65vh, 600px);
  opacity: 0.9;
  background-repeat: repeat;
  background-size: 50%;
  background-position: center;
  transition : all 0.5s ease;
}

.hstw-bg {
  position: absolute;
  top: 50%;
  left: 5%;
  transform: translate(-50%, -50%);
  width: 40%;
  height: 80%;
  transition : all 0.5s ease;
}

#hstw-front-container {
  background-repeat: no-repeat;
  background-size: 300%;
  background-position: center;
  transition: transform 0.1s ease;
  transition : all 0.5s ease;
}

#hstw-back-container {
  background-repeat: no-repeat;
  background-size: 300%;
  background-position: center;
  transition: all 0.5s ease;
  transition : all 0.5s ease;
}

#hstw-screenshot-container {
  position: absolute;
  top: 0%;
  right: 0%;
  width: 40%;
  height: 100%;
}

#hstw-screenshot-sub {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 25;
  background: radial-gradient(circle, rgba(255, 255, 255, 0.2) 0%, rgba(255, 255, 255, 0.1) 10%, rgba(0, 0, 0, 0) 50%);
  background-position: 2em;
}

#hstw-screenshot-sub>img {
  border-radius: 10px;
  transform: translateY(-50%);
}

#hstw-screenshot-1 {
  position: absolute;
  top: 40%;
  right: 12%;
  width: clamp(20rem, 30vw, 30rem);
}

#hstw-screenshot-2 {
  position: absolute;
  top: 62%;
  right: 4%;
  z-index: 30;
  width: clamp(20rem, 30vw, 25rem);
}

#hstw-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 55%;
  height: 85%;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  gap: 1.75em;
  background: rgba(0, 0, 0, 0.4);
  background: radial-gradient(circle, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.5) 10%, rgba(0, 0, 0, 0.5) 90%, rgba(0, 0, 0, 0.2) 100%);
  transition: all 0.5s ease;
}

#hstw-text>a {
  text-decoration: none;
  color: var(--text);
  font-size: 2.25em;
  position: relative;
  font-family: 'Farro', sans-serif;
  letter-spacing: 3px;
}

#hstw-text>a:before {
  content: "";
  position: absolute;
  left: clamp(80px, 22%, 250px);
  bottom: -5%;
  width: 175px;
  height: 0.4rem;
  transform: skew(-12deg) translateX(-50%);
  background: rgba(238, 111, 87, 0.5);
  z-index: -1;
}

.hstw-p {
  font-weight: 400;
  text-align: left;
  margin: 0 0 .5em 0;
  padding: 0;
  width: 70%;
  color: white;
}

#hstw-p3 {
  font-size: 0.9rem;
}

#hstw-links {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 5em;
  width: 60%;
}

#hstw-links>div {
  position: relative;
  height: 5em;
}

#hstw-links>div>button {
  transition: all 0.2s ease;
}

.hstw-helpers {
  position: absolute;
  top: 100%;
  width: 10em;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  font-weight: 200;
  font-size: 0.8rem;
}

.hstw-arrow {
  position: absolute;
  left: 0%;
  top: 40%;
  transform: rotate(-20deg);
  aspect-ratio: 1;
  width: 45px;
}

@media screen and (max-width : 768px) {

  .hstw-bg {
    left: 10%;
  }

  #hstw-front-container {
    margin-top: -80px;
  }

  #hstw-text {
    top: 40%;
    height: 50vh;
    left: 70%;
    width: 70%;
  }

  .hstw-p {
    font-size: .9rem;
    font-weight: 600;
  }

  #hstw-screenshot-container {
    display: none;
  }

  #hstw-screenshot-1 {
    display: none;
  }

  #hstw-screenshot-2 {
    display: none;
  }

  #hstw-screenshot-sub {
    background: none;
  }

  .hstw-arrow {
    left: -25%;
    transform: rotate(-30deg);
    width: 30px;
  }
}

@media screen and (max-width : 600px) {

  #hstw-screenshot-container {
    align-items: center;
    justify-content: center;
  }
}