#landscape {
  min-height: 100vh;
  max-height: 150vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 3vh 0;
}

#renders-landscape{
  position: relative;
  height: 750px;
}

#frame-wrapper {
  position: relative;
}

#sofa-landscape{
  position: absolute;
  width: 800px;
  height: 800px;
}