#landscape {
  padding: 5vh 0;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 3vh 0 0 0;
  background: linear-gradient(0deg,rgba(150, 150, 200, 0.4) 0%, rgba(150, 150, 200, 0.4) 90%, transparent 100%);
}

#landscape-title {
  font-size: 1.75em;
  text-align: center;
  text-transform: uppercase;
  text-decoration: underline overline;
  font-family: 'Roboto', sans-serif;
  letter-spacing: .15em;
}

#renders-landscape {
  position: relative;
  width: 100vw;
}

#sofa-landscape {
  position: absolute;
  width: clamp(300px, 50vw, 600px);
  height: clamp(300px, 50vw, 600px);
  bottom: -5vh;
  right: clamp(0px, 5vw, 50px);
  filter: drop-shadow(-15px 15px 10px rgba(0, 0, 0, 0.4));
}


@media screen and (max-width: 768px) {
  #sofa-landscape {
    width: clamp(200px, 40vw, 300px);
    height: clamp(200px, 40vw, 300px);
    right: clamp(0px, 2vw, 50px);
    bottom: -7vh;
  }
}