#musiq {
  width: 100%;
  margin: 5vh 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#musiq-title {
  text-align: center;
  margin: 1vh 0;
}

#musiq-title>a {
  text-decoration: none;
  color: #fff;
  font-size: 3.2rem;
  font-weight: 600;
  font-family: 'Farro', sans-serif;
  letter-spacing: 4px;
  text-transform: uppercase;
  position: relative;
}

#musiq-title>a:before {
  content: "";
  position: absolute;
  left: clamp(80px, 22%, 250px);
  bottom: 0;
  left: 50%;
  width: 275px;
  height: 4rem;
  transform: skew(-12deg) translateX(-50%);
  background: rgba(238, 111, 87, 0.5);
  z-index: -1;
}


#catch-phrase-musiq {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: clamp(1.2rem, 2vw, 1.8rem);
  text-align: center;
  margin: 2vh 15vw;
  gap: 1vh;
}

#musiq-catch-1 {
  align-self: flex-start;
}

#musiq-catch-2 {
  align-self: flex-end;
}

#queue-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 2vh 0 12.5vh 0;
  padding: 0;
}

#musiq-image-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#musiq-user-view {
  width: clamp(350px, 70vw, 1000px);
  border-radius: 20px;
}

#musiq-shadow {
  width: clamp(250px, 60vw, 900px);
  height: 80px;
  margin-top: -20px;
  border-radius: 40%;
  filter: blur(7px);
  background-image: radial-gradient(rgba(175, 175, 175, 0.2),
      rgba(100, 100, 100, 0.2));
  z-index: 1;
}

#musiq-action-call {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 2vh 0;
  font-family: 'Josefin Sans', sans-serif;
}

#musiq-action-call-text {
  font-size: clamp(18px, 1.3em, 25px);
  margin-top: 25px;
}

#musiq-action-call-text > a {
  color: #fff;
  font-weight: 600;
}