#photo-plus-text{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: clamp(25px, 5vw, 75px);
    width: 90%;
}

img#img-photo-plus-text{
  border-radius: 10px;
  box-shadow: 22px 22px #000000aa;
  border: 3px solid #fcd703;
}

.photo-text-text{
  font-size: 1.3rem;
  font-weight: 500;
  line-height: 25px;
}