#polaroid-collection{
  display : grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1vw;
  width: 100%;
  height: 100%;
  z-index: 500;
}

@media screen and (max-width: 920px) {
  #polaroid-collection{
    grid-template-columns: repeat(2, 1fr);
  }
}