#portrait-container {
  position: relative;
  width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  margin: 5vh 0;
}

#portrait-title-container {
  margin-bottom: 1.5em;
}

#portrait-title {
  font-size: 1.75em;
  text-align: center;
  padding: 0;
  text-transform: uppercase;
  text-decoration: overline;
  font-family: 'Roboto', sans-serif;
  letter-spacing: 0.25em;
}

#polaroid-container {
  transform: translateX(20%);
}

#portrait-core-container {
  width: 50%;
  transform: translateX(30%);
}

#portrait-text-container {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 1em;

}

@media screen and (min-width: 768px) {
  #polaroid-container {
    transform: translateX(20%);
  }
  #portrait-core-container {
    width: 50%;
  }
  #portrait-core-container {
    transform: translateX(15%);
  }
}

@media screen and (max-width: 920px) {
  /* #portrait-container {
    width: 90vw;
  } */

  #portrait-text-container {
    font-size: 1.25em;
  }
}
