.products-container {
  width: 100vw;
  min-height: 85vh;
  max-height: 150vh;
  position: relative;
  padding: 2vh 0;
  background: rgb(31, 31, 31);
  background: linear-gradient(
    0deg,
    transparent 0%,
    #b8b8b8aa 10%,
    #b8b8b8aa 90%,
    transparent 100%
  );
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#product-title {
  text-decoration: overline underline;
  font-family: 'Roboto', sans-serif;
  letter-spacing: 0.25em;
  font-size: 1.75em;
}

.products {
  width: 90%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.product {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.product-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.product-info > img {
  width: clamp(100px, 14vw, 250px);
  aspect-ratio: 1;
  animation: small-hop 4s ease-in-out infinite alternate;
}

@keyframes small-hop {
  0% {
    transform: translateY(7px) rotate(-4deg);
  }

  100% {
    transform: translateY(-7px) rotate(4deg);
  }
}

@media screen and (max-width: 768px) {
  .products-container {
    padding: 5vh 0;
  }
}
