/* SpotifyQueue.css */
.spotify-queue {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: clamp(270px, 55vw, 950px);
  border-top: 2px solid #8d8d8d;
  border-bottom: 2px solid #8d8d8d;
  padding: 2vh 20px;
  gap: 1vw;
}

.song {
  display: flex;
  align-items: center;
  justify-content: center;
  width: clamp(30px, 10vw, 50px);
  aspect-ratio: 1;
  border-radius: 50%;
  background-color: #191414;
  color: #ffffff;
  font-weight: bold;
  text-align: center;
  user-select: none;
  cursor: pointer;
}

.song-in-transition{
  transition: transform 1s ease;
}

.song:hover{
  transform: scale(1.1);
}

.playing {
  background-color: #1ed760;
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
}

#song-playing{
  position: absolute;
  top: 75px;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

#arrow-song{
  width: 50px;
  height: 50px;
  transform: rotate(-30deg) translateX(-15px) translateY(-5px);
}

#song-playing > span {
  font-weight: 400;
  font-size: 0.9rem;
  margin-top: 1vh;
  width: 200px;
  margin-top: 55px;
}

#curly-queue{
  position : absolute;
  top: 100px;
  left: 10vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

#curly-queue-sign{
  width: clamp(220px, 45vw, 950px);
  height: 40px;
  filter: invert(1) grayscale(100%) brightness(65%) invert(1);
}

#curly-queue-text{
  font-size: 0.9rem;
  font-weight: 400;
}